@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 360 78% 58%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* color: #E84142; */
  }
  .circle-div {
    @apply bg-[#e84142] w-12 h-12 rounded-3xl relative
  }
  .line-div {
    @apply bg-[#333333] w-[2px] h-24 absolute -rotate-45
  }
  .trnx-ctn {
    @apply absolute top-0 right-10 bg-[#131313] rounded-xl w-auto min-w-[50vw] h-auto max-h-[100vh] p-5 overflow-auto;
  }
  .flx {
    @apply flex flex-row justify-between items-center
  }
  .success {
    @apply border-[#16A34A] px-4 border-2 rounded-3xl bg-[#122118] py-1 text-white backdrop-opacity-5
  }
  .root-node {
    fill: red
  }
  .tree-svg {
    @apply w-full h-full min-h-[100vh] max-w-[100vw] flex flex-row justify-center items-center;
  }
  .tree-svg > g {
    transform: translate(50%, 30px);
  }
  .tree-svg g{
    fill: #373737;
    stroke: #373737
  }
  .tree-svg text{
    fill: #ffffff;
    font-weight: 300;
  }
  .tree-svg path {
    stroke: #373737
  }
  .root-ctn {
    fill: #E84142 !important;
    stroke: #E84142 !important;
  }
  .path-class {
    @apply bg-[#373]
  }
}

.cancel:hover {
  transform: rotate(270deg);
  transition: 0.5s ease-in-out;
  /* animation: spin-once 0.5s forwards ease-in-out; */
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    ransform: rotate(360deg);
  }
}